.hero{
    background-image: url('../images/IPT.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
    color: #f58787;
}
body{
    background-color: rgb(5, 6, 46);
}
.card-title{
    color: #f19e9e;
}

.index{
    margin-top: 20px;
}
